Sequential
boruta
chromadb
datasets
delayed
geopandas
gym~=0.25.2
imageio~=2.36.1
imblearn
ipython~=8.29.0
joblib
keras~=3.7.0
langchain
langchain_chroma
langchain_community
langchain_openai
matplotlib~=3.9.3
nltk
notebook
numpy~=1.26.4
openai
opencv-python
openpyxl
pandas~=2.2.3
pillow~=11.0.0
plotly
protobuf~=4.25.5
pyLDAvis
pyarrow
pypdf
pytz~=2024.2
scikeras
scikit-image
scikit-learn~=1.5.2
scikit-surprise
scipy
seaborn~=0.13.2
spacy
speechrecognition
statsmodels
streamlit
tensorflow-datasets~=4.9.7
tensorflow-federated
tensorflow==2.16.2
tensorflow_docs
tensorflow_hub
tflearn
tiktoken
torch
torchvision
transformers
vaderSentiment
vecstack
xgboost
