Sequential
boruta
chromadb
delayed
geopandas
gym~=0.25.2
imageio~=2.36.1
imblearn
ipython~=8.29.0
keras
langchain
langchain_community
matplotlib
notebook
numpy
opencv-python
openpyxl
pandas
pillow
plotly
protobuf
pyarrow
pytz~=2024.2
scikeras
scikit-image
scikit-learn~=1.5.2
scikit-surprise
scipy
seaborn
speechrecognition
statsmodels
tensorflow-datasets~=4.9.7
tensorflow-federated
tensorflow==2.15
tensorflow_docs
tflearn
tiktoken
torch
torchvision
vecstack
xgboost
