numpy
pandas
scipy
scikit_learn
matplotlib
seaborn
statsmodels
plotly
scikit_learn
geopandas
imblearn
boruta
pyarrow
vecstack
xgboost
tensorflow==2.15
tflearn
scikit-surprise
scikeras
delayed
scikit-image
pillow
Sequential
openpyxl
keras
torch
torchvision
tensorflow_docs
notebook
tensorflow-federated
